@model FPCS.Web.Admin.Models.TypeOfAddressing.TypeOfAddressingCreateModel

<div class="row-fluid">
    <div class="span12 ">

        @using (Html.BeginForm("_Create", "TypeOfAddressing", FormMethod.Post, new { id = "createTypeOfAddressingForm", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()

            <div class="control-group">
                <div class="controls">
                    <h3 class="lighter block green">Заполните поля для добавления нового записи справочника</h3>
                </div>
            </div>

            <div class="controls">
                @Html.ValidationSummary(true)
            </div>

            <div class="control-group">
                @Html.LabelFor(x => x.Code, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.Code, new { placeholder = Html.DisplayNameFor(x => x.Code), @class = "span9" })
                    @Html.ValidationMessageFor(m => m.Code)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Name, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextAreaFor(x => x.Name, new { placeholder = Html.DisplayNameFor(x => x.Name), @class = "span9" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.IsUpdateDate, new { @class = "control-label" })
                <div class="controls">
                    @Html.CheckBoxFor(x => x.IsUpdateDate, new { placeholder = Html.DisplayNameFor(x => x.IsUpdateDate), @class = "span9" })
                    @Html.ValidationMessageFor(m => m.IsUpdateDate)
                </div>
            </div>

            <div class="form-actions">
                <button class="btn btn-success createTypeOfAddressingSend" type="button">
                    <i class="icon-ok bigger-110"></i>
                    Сохранить
                </button>
                <button onclick="javascript:fpcs.closeDialog()" class="btn btn-info" type="button">
                    <i class="icon-reply bigger-110"></i>
                    Отменить
                </button>
            </div>
        }

    </div>
</div>

@Html.Script(Scripts.Render("~/bundles/jqueryval"))
